有一對兔子，從出生後的第3個月開始每個月都生一對小兔子<br>
小兔子長到第3個月後又會生一對小兔子<br>
假設所有的兔子都不死，問30個月內兔子的總數為多少？

In [2]:
import pandas as pd
df = pd.read_csv('./rabbit.csv')

In [4]:
df.head(10)

   月數  小兔子對數  中兔子對數  老兔子對數  兔子總對數
0   1      1      0      0      1
1   2      0      1      0      1
2   3      1      0      1      2
3   4      1      1      1      3
4   5      2      1      2      5
5   6      3      2      3      8
6   7      5      3      5     13
7   8      8      5      8     21
8   9     13      8     13     34
9  10     21     13     21     55

可以觀察到這是一個費氏數列喔！<br>
所以此題解費式數列即可!

In [7]:
if __name__ == "__main__":
    a = 1
    b = 1
    cnt = 2
    while cnt != 30:
        b = a + b
        a = b - a
        cnt += 1
    print(b)

832040